<h3>Sign Up</h3>
<form (ngSubmit)="onSubmit(f2)" #f2="ngForm" >


    <label>User Name</label>
    <div class="form-group">
    <input class="form-control input-lg"
    type="text" 
    placeholder="Customer User Name" 
    ngModel
    name = "userName"
    required
    #userName="ngModel">
        <span class="help-block" *ngIf="!userName.valid && userName.touched">Please enter your User Name</span>
        <span class="help-block" *ngIf="userName.valid && carRentalService.CustomerExists(userName, f2)">This name is already used</span>
    </div>

    <label>Last Name</label>
    <div class="form-group">
        <input class="form-control input-lg"
        type="text" 
        placeholder="Customer Last Name" 
        ngModel
        name = "lastName"
        required
        #lastName="ngModel">
            <span class="help-block" *ngIf="!lastName.valid && lastName.touched">Please yourLlast Name</span>
        </div>
    
        <label>First Name</label>
        <div class="form-group">
            <input class="form-control input-lg"
            type="text" 
            placeholder="Customer First Name" 
            ngModel
            name = "firstName"
            required
            #firstName="ngModel">
                <span class="help-block" *ngIf="!firstName.valid && firstName.touched">Please your User Name</span>
            </div>


            <label class="form-control-label" for="email">Email</label>  
            <input type="email" class="form-control" emailvalidator  name="email" 
            [(ngModel)]="emailText" required  
            #email="ngModel">  


            <label>Password</label>
            <div class="form-group">
                <input 
                type="password" 
                placeholder="Password" 
                required
                ngModel
                name = "password"
                #password="ngModel">
                <span class="help-block" *ngIf="!password.valid && password.touched">Please confirm your password</span>
            </div>

            <label>Confirm Password</label>
            <div class="form-group">
                <input 
                type="password" 
                placeholder="Password" 
                required
                ngModel
                name = "newPassword"
                #newPassword="ngModel">
                <span class="help-block" *ngIf="!newPassword.valid && newPassword.touched">Please confirm your password</span>
                <span class="help-block" *ngIf="password.valid && newPassword.touched && password != newPassword">Password and Confirm password must be equal</span>
</div>    

<button 
class="btn btn-primary" 
[disabled]="!f2.valid"
type="submit">Sign Up</button>

</form>
