<h3>Sign Up</h3>
<!--
    ngNativeValidate
-->
<div class="col-lg-6">
        <form (ngSubmit)="f2.valid && onSubmit(f2)" #f2="ngForm" ngNativeValidate >


    <label>User Name</label>
    <div class="form-group">
    <input class="form-control input-lg"
    type="text" 
    placeholder="Customer User Name" 
    ngModel
    name = "userName"
    required
    (focusout)="validateCustomer(userName.value)"
    #userName="ngModel">
        <span class="help-block" *ngIf="!userName.valid && userName.touched">Please enter your User Name</span>
        <span class="help-block" *ngIf="userName.valid && !validateCustomer(userName.value)">{{message}}</span>
    </div>

    <label>Last Name</label>
    <div class="form-group">
        <input class="form-control input-lg"
        type="text" 
        placeholder="Customer Last Name" 
        ngModel
        name = "lastName"
        required
        #lastName="ngModel">
            <span class="help-block" *ngIf="!lastName.valid && lastName.touched">Please yourLlast Name</span>
        </div>
    
        <label>First Name</label>
        <div class="form-group">
            <input class="form-control input-lg"
            type="text" 
            placeholder="Customer First Name" 
            ngModel
            name = "firstName"
            required
            #firstName="ngModel">
                <span class="help-block" *ngIf="!firstName.valid && firstName.touched">Please your User Name</span>
            </div>


            <label>Phone</label>
            <div class="form-group">
                <input class="form-control input-lg"
                type="number" 
                placeholder="Customer Phone number" 
                ngModel
                name = "phone"
                required
                #phone="ngModel">
                    <span class="help-block" *ngIf="!phone.valid && phone.touched">Please enter your phone number</span>
                </div>

            <label>Email</label> 
            <div class="form-group">
            <input type="email" class="form-control" name="emailText" 
            [(ngModel)]="emailText" required  
            (focusout)="validateEmail(emailText.value)"
            #email="ngModel">  
        </div>
        <p *ngIf="!isValid">
                {{message}}        
            </p>


            <label>Password</label>
            <div class="form-group">
                <input 
                type="password" 
                placeholder="Password" 
                required
                ngModel
                name = "password"
                #password="ngModel">
                <span class="help-block" *ngIf="!password.valid && password.touched">Please confirm your password</span>
            </div>

            <label>Confirm Password</label>
            <div class="form-group">
                <input 
                type="password" 
                placeholder="Password" 
                required
                ngModel
                name = "newPassword"
                #newPassword="ngModel">
</div>    
<span class="help-block" *ngIf="!newPassword.valid && newPassword.touched">Please confirm your password</span>
<span class="help-block" *ngIf="password.valid && newPassword.touched && password.value != newPassword.value">Password and Confirm password must be equal</span>

<div class="row">
<button 
class="btn btn-primary" 
[disabled]="!f2.valid"
type="submit">Sign Up</button>
</div>
</form>
</div>