<h3>Login</h3>

<div class="col-lg-6">
<form (ngSubmit)="onSubmit(f2)" #f2="ngForm">

    <label>User Name</label>
    <div class="form-group">
    <input class="form-control input-lg"
    type="text" 
    placeholder="Customer User Name" 
    ngModel
    name = "userName"
    required
    #userName="ngModel">
        <span class="help-block" *ngIf="!userName.valid && userName.touched">Please your User Name</span>
        <span class="help-block" *ngIf="userName.valid && !carRentalService.CustomerExists(userName.value)">User doesn't exist</span>
    </div>

    <label>Password</label>
<div class="form-group">
        <input 
    type="password" 
    placeholder="Password"  
    ngModel
    name = "password"
    #password="ngModel">
    <span class="help-block" *ngIf="!password.valid && password.touched">Please enter your password</span>
    
</div>    
<button 
class="btn btn-primary" 
[disabled]="!f2.valid"
type="submit">Sign In</button>
<div>
<a [routerLink]="['/signup']">Not Registered? Sign Up</a>
</div>



</form>
</div>