<h3>Car Renting</h3>
<form (ngSubmit)="onSubmit(f2)" #f2="ngForm" >


    <strong><label>Customer:</label></strong>
    <!-- todo: use pipes here -->
        {{customer.name}}
    <strong>

    
    <label>Car: </label></strong>
        {{carItem.Brand }}
        {{carItem.Model  }}
        {{carItem.Year  }}


    <div>
            <span >
                    <img [src]="brandImage" class="img-responsive" style="max-height: 100px;">
                </span>
                <span >
                        <img [src]="carItem.Image" class="img-responsive" style="max-height: 100px;">
                    </span>
                
    </div>

    <label>Date From</label>
    <div class="form-group col-lg-6">
        <input class="form-control input-lg"
        type="date" 
        placeholder="Date From" 
        ngModel
        name = "dateFrom"
        required
        #lastName="ngModel">
            <span class="help-block" *ngIf="!dateFrom.valid && dateFrom.touched">Please enter date from</span>
        </div>
    
        <label>Date to</label>
        <div class="form-group col-lg-6">
            <input class="form-control input-lg"
            type="date" 
            placeholder="Date to" 
            ngModel
            name = "dateTo"
            required
            #firstName="ngModel">
                <span class="help-block" *ngIf="!dateTo.valid && dateTo.touched">Please enter date toyour User Name</span>
            </div>



<button 
class="btn btn-primary" 
(click)="cancel()">Cancel</button>

<button 
class="btn btn-danger" 
[disabled]="!f2.valid"
type="submit">Rent</button>

</form>
